<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/boxicons.min.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">
    <link rel="stylesheet" href="./css/styling.css">
    <title>Pencils Of Promise</title>
</head>
<body>
    <nav class="top-nav navbar-expand-lg ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-4">
                    <a href="https://pencilsofpromise.org/">
                        <img class="logo" src="./img/blank-thumbnail-01.jpg" width="176px" height="67px" alt="School Image">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://shop.pencilsofpromise.org/" class ="first" role="button">
                        <span class="shop">SHOP</span>
                    </a>
                    <a href="https://pencilsofpromise.org/blog/" class="second" role="button">
                        <span class="blog">BLOG</span>
                    </a>
                    <a href="https://pencilsofpromise.org/contact/" class="third" role="button">
                        <span class="contact">CONTACT</span>
                    </a>
                </div>
                <div class="col-md-4 d-none d-lg-block">
                    <div class="social-links">
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                    </div>
                </div>
            </div>
                
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg ">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav col-4">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ABOUT US
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Founding Story</a></li>
                    <li><a class="dropdown-item" href="#">Our People</a></li>
                    <li><a class="dropdown-item" href="#">Financials</a></li>
                    <li><a class="dropdown-item" href="#">Press</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    OUR WORK
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">School Builds</a></li>
                    <li><a class="dropdown-item" href="#">Teacher Support</a></li>
                    <li><a class="dropdown-item" href="#">Wash</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    TAKE ACTION
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Start a Compaign</a></li>
                    <li><a class="dropdown-item" href="#">Join Passport</a></li>
                    <li><a class="dropdown-item" href="#">Partner with Us</a></li>
                    <li><a class="dropdown-item" href="#">Spread the world</a></li>
                </ul>
              </li>
              <li class="nav-items">
                <a href="https://fundraise.pencilsofpromise.org/give/345098/#!/donation/checkout" class="btn btn-brand">DONATE</a>
            </li>
            </ul>
            
          </div>
        </div>
      </nav>

       <!----Slide Images-->
    <div class="slider-wrapper">
        <div class="slide1 min-vh-100 bg-cover d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-uppercase">Education is the most powerful weapon <br/> which you can use to change the world.</h2s>
                        <h5 class="display-3">Nelson Mandela</h5>
                        <a href="#" class="btn btn-brand">Learn About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
      


    



    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
</body>
</html>