<footer class="ct-footer spacing">
    <div class="foter" id="footer">
      <div class="row" id="myfooter">
        <div class="col-4 diff">
            <h5 class="myfooter">Customer Care</h5>
            <a class="about new" href="/about"><h6>About us</h6></a>
            <a class="about new" href="/contact-now"><h6>Contact us</h6></a>
            <a class="about new" href="/pp"><h6>Privacy Policy</h6></a>
            <a class="about new" href="#"><h6>Returns</h6></a>
            <a class="about new" href="#"><h6>Shipping</h6></a>
            <a class="about new" href="#"><h6>Terms & Conditions</h6></a>
            <a class="about new" href="#"><h6>FaQs</h6></a>

        </div>
        <div class="col-4">
            <h5 class="myfooter">About the shop</h5>
            <p class="about">A curated fashion kids boutique who designed to ensure that your little one do not have to wait to be a teenager to dress smart and to look handsome.</p>
            <div class="social-links">
                <a class="slink" href="https://instagram.com/zayanstore1?igshid=Yzg5MTU1MDY="><i class='bi bi-instagram'></i></a>
                <a class="slink" href="https://www.facebook.com/minahil.sheikh.31149359"><i class='bi bi-facebook'></i></a>
            </div>
        </div>
        <div class="col-4">
            <h5 class="myfooter">NEWSLETTER</h5>
            <p class="about">Subscribe to recieve updates, access to exclusive deals.</p>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="myfooter">Email address</label>
                  <input type="email" class="form-control size" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary resize">Subscribe</button>
              </form>

        </div>
      </div>
      <div class="space"></div>
      <div class="row downline">
        <div class="col-8">
          <div class="social-link">
            <a class="" href="#"><i class='bi bi-c-circle'></i></a>
            <p class="last">
              All right reserved to company.
            </p>
          </div>
        </div>
        <div class="col-4">

        </div>
      </div>
    </div>
</footer>

