<div class="space">

</div>
<h2 class="heading">ABOUT US</h2>
<div class="row">
<p class="text">Kidify Boutique is your one stop shop for the best kids fashion, apparel and sneakers. We are your very own curated in-store and online boutique, offering a unique selection of street wear to high-end wear. There's something for every mini in your life.</p>
<p class="text">We're always dropping new and exciting products and brands so be sure to keep popping in-store and watching our social accounts for updates. We hope you love everything as much as we do! </p>
<h5 class="text">Kidify Boutique Location</h5>
<p class="text">Shop 5, 20 Gulberg, Lahore, Pakistan</p>
<h5 class="text">Timings</h5>
<p class="text">Weekdays: 10am to 9pm</p>
</div>