 <h1 class="head">Fashion Boutique for your little one</h1>
 <div class="pic-height">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.shopify.com/s/files/1/0373/5968/1672/files/web_banner_infants_copy_1950x.jpg?v=1672475422"
        alt="banner" width="100%" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.shopify.com/s/files/1/0102/7755/2164/files/web-banner_49b8b1f6-512a-4d7a-b25f-8016cb0cc851_1944x.jpg?v=1667373226
        " class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.shopify.com/s/files/1/0486/5094/4664/files/PPL_web_banner_a71d0e21-30df-4cad-ab0e-1fd86cec6502.jpg?v=1672210559

        " class="d-block w-100" alt="...">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<h3 class="head tops">Our Best Seller</h3>
<div class="container">
<div class="row">
<div class="card col-4 m-4" style="width: 18rem;">
  <img src="https://cdn.shopify.com/s/files/1/2490/2112/products/Cub-Biscuit_400x.jpg?v=1671683787" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title title">Summer Biscuit</h5>
    <p class="card-text txtt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/prod" class="btn btn-primary resize">View an item</a>
  </div>
</div>

<div class="card col-4 m-4" style="width: 18rem;">
  <img src="https://cdn.shopify.com/s/files/1/2490/2112/products/Oatmeal-Jelly_400x.jpg?v=1667283411" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title title">Jelly Sandal</h5>
    <p class="card-text txtt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/prod" class="btn btn-primary resize">View an item</a>
  </div>
</div>

<div class="card col-4 m-4" style="width: 18rem;">
  <img src="https://cdn.shopify.com/s/files/1/2490/2112/products/Vans-Crib-Slip-On_400x.jpg?v=1667605514" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title title">Black chekered</h5>
    <p class="card-text txtt">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/prod" class="btn btn-primary resize">View an item</a>
  </div>
</div>

</div>
</div>







