<div class="space">

</div>
<h1 class="headin">DATA PROTECTION</h1>
<h3 class=" headin txt">Responsible for Data processig is:</h3>
<div class="space2"></div>
<p class="headin txt do">Minahil Sadiq</p>
<p class="headin txt do">SP20-BCS-023</p>
<p class="headin txt do">Section: B</p>