<div class="space"></div>
<div>
    <h2 class="heading">SIZE GUIDE</h2>
</div>
<h5 class = "title">How to find perfect size for your little one:</h5>
<ol class="txtt">
    <li>
        Place your child on a piece of paper and trace the outline of the foot with a pen.
    </li>
    <li>
        Insole length: Measure the longest distance between the heel and biggest toe.
    </li>
    <li>
        Calculate 12-17 mm on the measured length and you can see which shoe size suits you based on the following table.
    </li>
    <li>
        Width: Measure the width of the foot at its largest point on the ball of the foot.
    </li>
    <li>
        Add 2-4 mm and note that the foot has only reached its maximum width in the afternoon/evening by running
    </li>

</ol>
<div class="container">
    <div class="row">
       <img src="https://jimdo-storage.freetls.fastly.net/image/288287082/c9610d97-8601-4388-a1b9-3d299061c54e.png?quality=80,90&auto=webp&disable=upscale&width=1024&height=581&trim=0,0,0,0" alt="">
    </div>
</div>